.launchDetails {
  display: flex;
  align-content: center;
  margin-bottom: 12px;
}
.launchDetails.typeList {
  display: block;
}
.detailLabel {
  font-size: 20px;
}
.typeList .detailLabel {
  font-size: 22px;
}
.detailValue {
  color: #474f98;
  margin-left: 5px;
  font-size: 20px;
}
.typeList .detailValue {
  margin-left: 30px;
  font-size: 22px;
}

@media screen and (min-width: 701px) {
  .detailLabel,
  .detailValue {
    font-size: 16px;
  }
  .typeList .detailLabel,
  .typeList .detailValue {
    font-size: 18px;
  }
}
